/* ----------------------------------------------------------------------------------------------------------

    This website template was downloaded from http://www.nuviotemplates.com - visit us for more templates

    Structure:
    display; position; float; z-index; overflow; width; height; margin; padding; border; background; align; font;

    Content:
    
        1) HTML tags, reset
        2) Universal styles (display, float, margin, text-align...)
        3) Generally HTML styles (table, ul, dl...)
        4) Layout
        5) Page: Homepage
        
---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags, reset
---------------------------------------------------------------------------------------------------------- */

* {margin:0; padding:0;}
body, div, span, p, a, img, ul, ol, li, caption, table, thead, tbody, tfoot, tr, th, td, form, fieldset, legend, label, dl, dt, dd, blockquote, applet, object, h1, h2, h3, h4, h5 {border:0;}
body {background:url("../img/bg.gif") 0 0 repeat-x; font:0.8em/1.5 "arial",sans-serif;}

h1, h2, h3, h4, h5, h6 {margin:15px 0 10px 0; font-family:"arial",sans-serif;}

p, table, ul, ol, dl, fieldset {margin:15px 0;}

table {border-collapse:collapse; border-spacing:0; font-size:100%;}
th {text-align:center; font-weight:bold;}
th, td {padding:3px 7px;}

ul, ol {margin-left:30px;}
ul ul, ol ol {margin:0; margin-left:20px;}
ol {list-style-type:decimal;}
li {display:list-item;}

dt {font-weight:bold;}
dd {margin-left:30px;}

fieldset {position:relative; padding:10px;}
legend {position:absolute; top:-1em; margin:0; padding:5px 10px; font-size:100%; font-weight:bold;}

/* ----------------------------------------------------------------------------------------------------------
2) Universal styles (display, float, margin, text-align...)
---------------------------------------------------------------------------------------------------------- */

.box {min-height:1px;}
.box:after {display:block; visibility:hidden; clear:both; line-height:0; font-size:0; content:".";}

.relative {position:relative;}

.clear {clear:both;}

.f-left {float:left !important;} img.f-left {float:left; margin-right:10px;}
.f-right {float:right !important;} img.f-right {float:right; margin-left:10px;}

.t-left {text-align:left !important;}
.t-center {text-align:center !important;}
.t-right {text-align:right !important;}
.t-justify {text-align:justify !important;}

.va-top {vertical-align:top;}
.va-middle {vertical-align:middle;}
.va-bottom {vertical-align:bottom;}

.nom {margin:0 !important;}
.nomt {margin-top:0 !important;}
.nomb {margin-bottom:0 !important;}

.noscreen {display:none;}

    .bigger {font-size:110%;}
    .smaller {font-size:85%;}

/* ----------------------------------------------------------------------------------------------------------
3) Generally HTML styles (table, ul, dl...)
---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
4) Layout
---------------------------------------------------------------------------------------------------------- */

#main {width:960px; margin:0 auto;}

    #header {position:relative; width:960px; height:70px; padding-top:30px; background:url("../img/header.gif") 0 0 no-repeat; overflow:hidden;}
    
        #logo {margin:0; font-size:240%;}
        #logo a {text-decoration:none;}
        
        #rss {position:absolute; top:0; left:700px; height:70px; padding:30px 0 0 91px; background:url("../img/rss.gif") 0 0 no-repeat; font-weight:bold;}
        #rss a:hover {text-decoration:none;}

#cols {background:url("../img/cols.gif") 700px 100% no-repeat;}

    #content {float:left; width:680px; padding:10px; padding-bottom:20px; overflow:hidden;}

        #content #title {margin:0; padding:20px 15px 10px 15px; background:url("../img/title.gif") 0 100% repeat-x; font-size:200%; letter-spacing:-1px;}

    #aside {float:left; width:230px; padding:60px 10px 20px 20px; background:url("../img/aside.gif") 0 0 no-repeat; overflow:hidden;}

        #aside h4 {font-size:100%;}

        #about {margin-bottom:20px; padding:10px; background:url("../img/about.gif") 100% 100% no-repeat;}

        .nav {margin:0; list-style:none;}
        .nav li {display:inline;}
        .nav li a {display:block; padding:2px 0 2px 22px; background:url("../img/nav-link.gif") 0 5px no-repeat; text-decoration:none;}
        .nav li.nav-active a {background:url("../img/nav-active.gif") 0 4px no-repeat; font-weight:bold;}

#footer {clear:both; padding:15px; padding-top:22px; background:url("../img/footer.gif") 0 0 repeat-x;}

    #footer p {margin:0;}
    #footer a:hover {text-decoration:none;}

/* ----------------------------------------------------------------------------------------------------------
5) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#perex {padding:15px; background:url("../img/perex.gif") 100% 100% no-repeat;}
#perex p {margin:0;}

.ico-comment {padding-left:15px; background:url("../img/ico-comment.gif") 0 1px no-repeat;}

.cols5050 {margin:15px 0;}
    .cols5050 .col {float:left; width:335px;}
    .cols5050 .col dl.list, .cols5050 .col dl.list dd {margin:0;}
    .cols5050 .col dl.list {background:url("../img/dl-list.gif") 5px 0 repeat-y;}
    .cols5050 .col dl.list dt {padding-left:20px; background:url("../img/dl-list-dt.gif") 0 50% no-repeat;}
    .cols5050 .col dl.list dd {margin-left:20px; padding:10px 10px 10px 0; background:url("../img/dl-list-dd.gif") 100% 0 no-repeat;}

#calendar {width:230px; margin:20px 0; font-size:85%;}
#calendar th {padding:4px 1px;}
#calendar td {text-align:center;}
#calendar td#calendar-active {font-weight:bold;}

.button {padding:5px 8px; background:url("../img/button.gif") 0 0 repeat-x; text-decoration:none; font-weight:bold;}
